
<div class="profile">
<p>Welcome to your Blog Profile {{user_name}}</p>

<p>-------------------------------------------</p>
<p class="userPosts">Your Posts<p>
<p>-------------------------------------------</p>

 <div class="inputSection">
      <p class="inputTitle">
        {{title}}
        <span class="userName">Posted by {{user_name}} on {{format_date date_created}}</span>
      </p>
      <p class="inputText">{{blog_text}}</p>
  </div>
</div>